.theCard{
    position: absolute;
    display:inline;
    width: 177px;
    height: 299px;
    backface-visibility: hidden;
    background: url("../../../assets/52_playing_cards.png");
    padding: 3px 35px 22px 9px;
    background-position: -17px -17px;
    display: flex;
    margin-left:20px;
    margin-top: 220px;
}

@media only screen and (max-width:700px){
    .theCard{transform: scale(0.8,0.8)}
}

@media only screen and (max-width:450px){
    .theCard{
        transform: scale(0.5,0.5);
        margin-top: 100px;
    }
}